body {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

div {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
}

button {
  margin: 1rem;
}

video {
  aspect-ratio: 16/9;
  border: 1px solid black;
}

.videoUrl {
  height: 200px;
  width: 300px;
  background-color: antiquewhite;
}
