<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
    <link rel="stylesheet" href="style.css" />
    <script type="module" src="signup.js" defer></script>
  </head>
  <body>
    <form method="post" action="http://localhost:3000/user/signup" id="signup">
      <label for="username">Username:</label><br />
      <input type="text" id="username" name="username" /><br />
      <label for="email">Email:</label><br />
      <input type="email" id="email" name="email" /><br />
      <label for="password">Password:</label><br />
      <input type="password" id="password" name="password" /><br /><br />
      <input type="submit" value="Submit" />
    </form>
  </body>
</html>
